<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>201270209376-runtprts8s3rlgc1q1mmglc95re37h44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201270209376-runtprts8s3rlgc1q1mmglc95re37h44</string>
	<key>API_KEY</key>
	<string>AIzaSyATkpMbv0qAsN6eatrTM2eVeQWqT1bpI0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>201270209376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDbExample</string>
	<key>PROJECT_ID</key>
	<string>healthtips-e5f8b</string>
	<key>STORAGE_BUCKET</key>
	<string>healthtips-e5f8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201270209376:ios:c9141861637ad7f4</string>
	<key>DATABASE_URL</key>
	<string>https://healthtips-e5f8b.firebaseio.com</string>
</dict>
</plist>